<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="conn" connectionString="Data Source=.\MSSQLSERVER2012;Integrated Security=False;User ID=demo;password=1r2i3a4z" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>
